{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load i18n %}
{% load cache %}
{% load carts_tags %}

{% block title %}
{% translate "Корзина" %}
{% endblock %}

{% block header %}
<!-- Здесь будет header -->
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section">
        <div class="wrap">
                {% if carts %}
                <form class="form Cart" action="{% url 'orders:order_proceed' %}" method="post">
                    {% for cart in list_data %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                                <a class="Cart-pict" href="{% url 'products:product_detail' slug=cart.sellerprice.product.slug %}">
                                    {% if cart.image %}
                                        {% with cart.image|first as img %}
                                        <img class="Cart-img" src="{{ img.image.url }}" alt="{{ cart.sellerprice.product.name }}" />
                                        {% endwith %}
                                    {% else %}
                                        <img class="Cart-img" src="#" alt="{{ cart.sellerprice.product.name }}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="Cart-block Cart-block_info">
                                <a class="Cart-title" href="{% url 'products:product_detail' slug=cart.sellerprice.product.slug %}">
                                    {{ cart.sellerprice.product.name }}
                                </a>
                                <div class="Cart-desc">
                                    {{ cart.sellerprice.product.description }}
                                </div>
                            </div>
                            {% price_discount request cart as res %}
                            <div class="Cart-block Cart-block_price Cart-price">
                                {% if res.price_discount %}
                                <span class="Card-priceOld">{{ res.old_price }}$</span>
                                <span class="Card-price">{{ res.price_discount }}$</span>
                                {% else %}
                                <span class="Card-price">{{ res.old_price }}$</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_seller">
                                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                            </div>
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    <div id="update_quantity" class="Amount">
                                        <button class="Amount-remove" type="button"
                                                data-cart-id="{{ cart.id }}"
                                                data-cart-change-url="{% url 'carts:edit_cart' %}"
                                        > {% csrf_token %} </button>
                                        {% if request.user.is_authenticated %}
                                            <input class="Amount-input form-input" name="amount" type="text" value="{{ cart.quantity }}"/>
                                        {% else %}
                                            {% get_quantity request cart as session_quantity %}
                                            <input class="Amount-input form-input" name="amount" type="text"
                                               value="{{ session_quantity }}"/>
                                        {% endif %}
                                        <button class="Amount-add" type="button"
                                                data-cart-id="{{ cart.id }}"
                                                data-cart-change-url="{% url 'carts:edit_cart' %}"
                                        > {% csrf_token %} </button>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_delete">
                                <a class="Cart-delete" href="{% url 'carts:delete_cart' cart.id %}">
                                    <img class="CartBlock-img" src="{% static 'img/icons/delete.svg' %}" alt="delete.svg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">{% translate "Итого" %}:</strong>
                                {% total_price request carts as price %}
                                {% if price.old_price > config.FOR_PRICE and price.total_quantity > config.FOR_COUNT %}
                                    <span class="Card-priceOld">{{ price.old_price }}$</span>
                                    <span class="Cart-price">{{ price.total_price }}$</span>
                                    <div class="Cart-disc">
                                        {% if price.old_price > config.FOR_PRICE %}
                                            {% translate "Ваша стоимость покупок в корзине составила более" %} <b>{{ config.FOR_PRICE }}$.</b> {% translate "для вас скидка составит" %} <b>{{ price.full_percent }}%</b>
                                        {% else %}
                                            {% translate "Ваше количество товаров в корзине более" %} <b>{{ config.FOR_COUNT }}</b> {% translate "для вас дополнительная скидка" %} <b>{{ price.full_percent }}%</b>
                                        {% endif %}
                                    </div>
                                {% elif price.old_price > config.FOR_PRICE %}
                                    <span class="Card-priceOld">{{ price.old_price }}$</span>
                                    <span class="Cart-price">{{ price.total_price }}$</span>
                                    <div class="Cart-disc">
                                        {% translate "Ваша стоимость покупок в корзине составила более" %} <b>{{ config.FOR_PRICE }}$.</b> {% translate "для вас дополнительная скидка" %} <b>{{ config.FOR_PRICE_PERCENT }}%</b>
                                    </div>
                                {% elif price.total_quantity >  config.FOR_COUNT %}
                                    <span class="Card-priceOld">{{ price.old_price }}$</span>
                                    <span class="Cart-price">{{ price.total_price }}$</span>
                                    <div class="Cart-disc">
                                        {% translate "Ваше количество товаров в корзине более" %} <b>{{ config.FOR_COUNT }}</b> {% translate "для вас дополнительная скидка" %} <b>{{ config.FOR_COUNT_PERCENT }}%</b>
                                    </div>
                                {% else %}
                                    <span class="Cart-price">{{ price.total_price }}$</span>
                                    <div class="Cart-disc">{% translate "Если ваша стоимость покупок в корзине составит более" %} <b>{{ config.FOR_PRICE }}$.</b> {% translate "мы сделаем для вас скидку" %} <b>{{ config.FOR_PRICE_PERCENT }}%</b></div>
                                    <div class="Cart-disc">{% translate "Если количество купленного вами товара превысит" %} <b>{{ config.FOR_COUNT }}</b> {% translate "мы сделаем для вас скидку" %} <b>{{ config.FOR_COUNT_PERCENT }}%</b></div>
                                    <div class="Cart-disc">{% translate "Если будет выполнено два условия скидок на корзину будет выбрано максимально выгодное предложение." %}</div>
                                {% endif %}
                            </div>
                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'orders:order_proceed' %}">{% translate "Оформить заказ" %}</a>
                        </div>
                    </div>
                </form>
                {% else %}
                <h1>{% translate "Ваша корзина пуста" %}</h1>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- Здесь будет footer -->
{% endblock %}