{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% translate "Заказ" %} {% endblock %}

{% load carts_tags %}
{% load order_tags %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% translate "Заказ" %} №{{ order.id }}</h1>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <div class="Section-content">
                <div class="Orders"></div>
                <div class="Order">
                    <div class="Order-infoBlock">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <div class="Order-info Order-info_date">
                                        <div class="Order-infoType">{% translate "Дата заказа"%}:</div>
                                        <div class="Order-infoContent">{{ order.created_at|date:"d.m.Y" }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% translate "ФИО" %}:</div>
                                        <div class="Order-infoContent">{{ order.user.first_name }} {{ order.user.last_name }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% translate "Телефон" %}:</div>
                                        <div class="Order-infoContent">{{ order.user.profile.phone }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% translate "E-mail" %}:</div>
                                        <div class="Order-infoContent">{{ order.user.email }}</div>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{% translate "Тип доставки" %}:</div>
                                        <div class="Order-infoContent">{% translate order.get_delivery_option_display %}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% translate "Город" %}:</div>
                                        <div class="Order-infoContent">{{ order.city }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% translate "Адрес" %}:</div>
                                        <div class="Order-infoContent">{{ order.address }}</div>
                                    </div>
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{% translate "Оплата" %}:</div>
                                        <div class="Order-infoContent">{% translate order.get_payment_option_display %}</div>
                                    </div>
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{% translate "Статус" %}:</div>
                                        <div class="Order-infoContent">{% translate order.get_status_display %}</div>
                                    </div>
                                    {% if order.payment_status == 'unpaid' %}
                                    <div class="Order-info Order-info_error">
                                        <div class="Order-infoType">{% translate "Оплата не прошла" %}:</div>
                                        <div class="Order-infoContent">{% translate "Оплата не выполнена" %}</div>
                                    </div>
                                    {% elif order.payment_status == 'error' %}
                                    <div class="Order-info Order-info_error">
                                        <div class="Order-infoType">{% translate "Ошибка" %}:</div>
                                        <div class="Order-infoContent">{% translate "Произошла ошибка при оплате. Попробуйте снова или выберите другой способ оплаты." %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="Cart Cart_order">
                            {% for i_item in order.order_items.all %}
                            <div class="Cart-product">
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_pict">
                                        <a class="Cart-pict" href="{% url 'products:product_detail' slug=i_item.seller_price.product.slug %}"><img class="Cart-img"
                                                                           src="{{ i_item.seller_price.product.images.first.image.url }}"
                                                                           alt="{{ i_item.seller_price.product.name }}"/></a>
                                    </div>
                                    <div class="Cart-block Cart-block_info">
                                        <a class="Cart-title" href="{% url 'products:product_detail' slug=i_item.seller_price.product.slug %}">{{ i_item.seller_price.product.name }}</a>
                                        <div class="Cart-desc">{{ i_item.seller_price.product.description }}</div>
                                    </div>
                                    <div class="Cart-block Cart-block_price">
                                        {% price_discount_order request i_item as price_set %}
                                        {% if price_set %}
                                            <div class="Card-priceOld">{{ price_set.old_price }}$
                                            </div>
                                            <div class="Cart-price">{{ price_set.discount_price }}$
                                            </div>
                                        {% else %}
                                            <div class="Cart-price">{{ i_item.sellerprice.price }}$
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_amount">{{ i_item.quantity }} шт.</div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">{% translate "Итого" %}:</strong>
                                    {% total_price request carts as price %}
                                    {% if price.old_price > config.FOR_PRICE and price.total_quantity > config.FOR_COUNT %}
                                        <span class="Card-priceOld">{{ price.old_price }}$</span>
                                        <span class="Cart-price">{{ price.total_price }}$</span>
                                        <div class="Cart-disc">
                                            {% if price.old_price > config.FOR_PRICE %}
                                            Ваша стоимость покупок в корзине составила более <b>{{ config.FOR_PRICE }}$</b>, для вас скидка составит <b>{{ price.full_percent }}%</b>
                                            {% else %}
                                            Ваше количество товаров в корзине более <b>{{ config.FOR_COUNT }} шт.</b>, для вас дополнительная скидка <b>{{ price.full_percent }}%</b>
                                            {% endif %}
                                        </div>
                                    {% elif price.old_price > config.FOR_PRICE %}
                                        <span class="Card-priceOld">{{ price.old_price }}$</span>
                                        <span class="Cart-price">{{ price.total_price }}$</span>
                                        <div class="Cart-disc">
                                            Ваша стоимость покупок в корзине составила более <b>{{ config.FOR_PRICE }}$</b>, для вас дополнительная скидка <b>{{ config.FOR_PRICE_PERCENT }}%</b>
                                        </div>
                                    {% elif price.total_quantity >  config.FOR_COUNT %}
                                        <span class="Card-priceOld">{{ price.old_price }}$</span>
                                        <span class="Cart-price">{{ price.total_price }}$</span>
                                        <div class="Cart-disc">
                                            Ваше количество товаров в корзине более <b>{{ config.FOR_COUNT }} шт.</b>, для вас дополнительная скидка <b>{{ config.FOR_COUNT_PERCENT }}%</b>
                                        </div>
                                    {% else %}
                                        <span class="Cart-price">{{ price.total_price }}$</span>
                                        <div class="Cart-disc">Если ваша стоимость покупок в корзине составит более <b>{{ config.FOR_PRICE }}$</b>, мы сделаем для вас скидку <b>{{ config.FOR_PRICE_PERCENT }}%</b></div>
                                        <div class="Cart-disc">Если количество купленного вами товара превысит <b>{{ config.FOR_COUNT }} шт.</b>, мы сделаем для вас скидку <b>{{ config.FOR_COUNT_PERCENT }}%</b></div>
                                        <div class="Cart-disc">Если будет выполнено два условия скидок на корзину, будет выбрано максимально выгодное предложение.</div>
                                    {% endif %}
                                </div>
                                {% if order.payment_status == 'unpaid' %}
                                <div class="Cart-block"><a class="btn btn_primary btn_lg"
                                                           href="{% url 'orders:order_payment' order.pk %}">{% translate "Оплатить" %}</a>
                                </div>
                                {% elif order.payment_status == 'error' %}
                                <div class="Cart-block">
                                    <a class="btn btn_primary btn_lg"
                                       href="{% url 'orders:order_payment' order.pk %}">{% translate "Оплатить снова" %}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}