{% extends 'base.html' %}

{% block content %}

<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Оплата
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <form class="form Payment" action="{% url 'orders:order_payment' pk=order.id %}" method="post">
                {% csrf_token %}
                <div class="Payment-card">
                    <div class="form-group">
                        <label class="form-label">Номер карты
                        </label>
                        <input class="form-input Payment-bill" id="card_number" name="card_number" type="text"
                               placeholder="9999 9999" data-mask="9999 9999"/>
                    </div>
                    {% if order.payment_option == 'someone' %}
                    <div class="form-group">
                        <button class="btn btn_success Payment-generate" href="#">Сгенерировать случайный счет</button>
                    </div>
                    {% endif %}
                </div>
                <button class="btn btn_primary" type="submit">Оплатить
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
