{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load cache %}
{% load i18n %}
{% load products_tags %}
{% block title %} Product {{ product.pk }} {% endblock %}

{% block header %}
<!-- Здесь будет header -->
{% endblock %}

{% block content %}
{% cache 1 product_detail %}
<div class="Middle Middle_top">
    <div class="Section">
        <div class="wrap">
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        {% if product.discount %}
                        {% get_discount product.discount as best_discount %}
                        <div class="Card-date">
                            <strong class="Card-date-number">{{ best_discount.percent }}%
                            </strong><span class="Card-date-month">{{ best_discount.from_date }}</span>
                        </div>
                        {% endif %}
                        <div class="ProductCard-photo">
                            {% if first_image.image.url %}
                            <img src="{{ first_image.image.url }}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="ProductCard-picts">
                            {% for img in product.images.all %}
                            <a class="ProductCard-pict {% if forloop.first %} ProductCard-pict_ACTIVE{% endif %}"
                               href="{{ img.image.url }}"><img src="{{ img.image.url }}"
                                                               alt="{{ product.name }}"/></a>
                            {% empty %}
                            <p>{% translate "Еще нету изображения" %}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ProductCard-desc">
                        <div class="ProductCard-header">
                            <h2 class="ProductCard-title">{{ product.name }}</h2>
                            <div class="ProductCard-info">

                                <div class="ProductCard-cost">
                                    <div class="ProductCard-price">
                                        {% if product.discount %}
                                        {% solve_price product.auto_seller_price|floatformat:0 best_discount as disk %}
                                        <span class="Card-priceOld">{{ disk.old_price }}$</span>
                                        <span>{{ disk.dis }}$</span>
                                        {% else %}
                                        <span>${{ product.auto_seller_price|floatformat:0 }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ProductCard-text">
                            <ul>
                                {% for line in description_short %}
                                <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="ProductCard-cart">
                            {% if product.seller_price.first %}
                            <form action="{% url 'carts:add_cart' product.seller_price.first.id %}"
                                  method="post" style="display: flex; margin-right: 15px;">
                                {% csrf_token %}
                                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                    <div class="Amount Amount_product">
                                        <button class="Amount-remove" type="button"></button>
                                        <input class="Amount-input form-input" name="amount" type="text"
                                               value="1"/>
                                        <button class="Amount-add" type="button"></button>
                                    </div>
                                </div>
                                <div class="ProductCard-cartElement">
                                    <button class="btn btn_primary Amount-input form-input" type="submit">
                                        <img class="btn-icon"
                                             src="{% static 'img/icons/card/cart_white.svg' %}"
                                             alt="cart_white.svg"/>
                                        <span class="btn-content">{% translate "Купить" %}</span>
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                            <div class="ProductCard-cartElement">
                                <form method="post"
                                      action="{% url 'comparisons:add_to_comparison' slug=product.slug %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn_primary">
                                        {% translate "Добавить в сравнение" %}
                                    </button>
                                </form>
                            </div>
                            <div id="modal_open" class="my_modal">
                                <div class="my_modal-dialog">
                                    <div class="my_modal-content">
                                        <div class="my_modal-header">
                                            <p class="my_modal-title">{% translate "Поздравляем!" %}</p>
                                            <a href="#" title="{% translate 'Закрыть модальное окно' %}"
                                               class="close">×</a>
                                        </div>
                                        <div class="my_modal-body">
                                            <p>{% translate "Товар успешно добавлен в корзину!" %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ProductCard-footer">
                            <div class="ProductCard-tags">
                                <strong class="ProductCard-tagsTitle">{% translate "Тэги" %}:</strong>
                                {% for tag in product.tags.all %}
                                <a href="#">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tabs Tabs_default">
                    <div class="Tabs-links">
                        <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                            <span>{% translate "Описание" %}</span>
                        </a>
                        <a class="Tabs-link" href="#sellers">
                            <span>{% translate "Продавцы" %}</span>
                        </a>
                        <a class="Tabs-link" href="#addit">
                            <span>{% translate "Характеристика" %}</span>
                        </a>
                        <a class="Tabs-link" href="#reviews">
                            <span>{% translate "Отзывы" %}</span>
                        </a>
                    </div>
                    <div class="Tabs-wrap">
                        <div class="Tabs-block" id="description">
                            <h2>{{ product.name }}</h2>
                            <p>
                                <img class="pict pict_right" src="{{ first_image.image.url }}"
                                     alt="{{ product.name }}">
                            </p>
                            <ul>
                                {% for des in description_full %}
                                <li>{{ des }}</li>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                            <div class="table">
                                <table>
                                    <tr>
                                        <th>{% translate "Характеристика" %}</th>
                                        <th>{% translate "Значение" %}</th>
                                    </tr>
                                    <tr>
                                        <td>{% translate "Тип товара" %}</td>
                                        <td>{{ product.category.name }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="Tabs-block" id="sellers">
                            <div class="Section-content">
                                <div class="Orders">
                                    {% for sp in product.seller_price.all %}
                                    <div class="Order Order_anons">
                                        <div class="Order-personal">
                                            <div class="row">
                                                <div class="row-block">
                                                    <a class="Order-title" href="#">
                                                        {% translate "Имя продавца" %}: {{ sp.seller.name }}
                                                    </a>
                                                    <div class="ProductCard-cartElement"
                                                         style="margin-top: 10px;">
                                                        <a class="btn btn_primary"
                                                           href="{% url 'carts:add_cart' sp.id %}">
                                                            <img class="btn-icon"
                                                                 src="{% static 'img/icons/card/cart_white.svg' %}"
                                                                 alt="cart_white.svg"/>
                                                            <span class="btn-content">{% translate "Купить" %}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row-block">
                                                    <div class="Order-info Order-info_delivery">
                                                        <div class="Order-infoType">{% translate "Тип доставки" %}:
                                                        </div>
                                                        <div class="Order-infoContent">{% translate "Обычная доставка"%}
                                                        </div>
                                                    </div>
                                                    <div class="Order-info Order-info_pay">
                                                        <div class="Order-infoType">{% translate "Оплата" %}:</div>
                                                        <div class="Order-infoContent">{% translate "Онлайн картой" %}
                                                        </div>
                                                    </div>
                                                    <div class="Order-info">
                                                        <div class="Order-infoType">{% translate "Стоимость" %}:</div>
                                                        <div class="Order-infoContent">
                                                            {% if sp.price %}
                                                            <span class="Order-price">{{ sp.price }}$</span>
                                                            {% else %}
                                                            <span class="Order-price">Цена товара не задана</span>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="Tabs-block" id="addit">
                            <div class="Product-props">
                                {% for f in product.features.all %}
                                <div class="Product-prop">
                                    <strong>{{ f.feature.name }}</strong><span>{{ f.value }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="Tabs-block" id="reviews">
                            {% include 'templates_products/review_product.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}

{% block footer %}
<!-- Здесь будет footer -->
{% endblock %}
