{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% translate "Личный кабинет" %}
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% translate "Личный кабинет" %}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        {% include 'templates_users/user_account_navigation.html' %}
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Account">
                        <div class="Account-group">
                            <div class="Account-column">
                                {% if user.profile_picture %}
                                    <div class="Account-avatar"><img src="{{ user.profile_picture.url }}" alt="profile_picture" />
                                </div>
                                {% else %}
                                    <div class="Account-avatar">{% translate "Изображение недоступно" %}</div>
                                {% endif %}
                            </div>
                            <div class="Account-column">
                                <div class="Account-name"> {{ user.first_name }} {{ user.last_name }}
                                </div><a class="Account-editLink" href="{% url 'user:user_profile' %}">{% translate "Редактировать профиль" %}</a>
                            </div>
                        </div>
                        <div class="Account-group">
                            <div class="Account-column Account-column_full">
                                <div class="Order Order_anons">
                                    {% if order %}
                                        <div class="Order-personal">
                                        <div class="row">
                                            <div class="row-block"><a class="Order-title" href="{% url 'orders:order_detail' pk=order.id %}">{% translate "Заказ" %}&#32;<span class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;<span class="Order-dateOrder">{{ order.created_at|date:"d.m.Y" }}</span></a>
                                                <div class="Account-editLink"><a href="{% url 'user:user_order_history' %}">{% translate "История заказов" %}</a>
                                                </div>
                                            </div>
                                            <div class="row-block">
                                                <div class="Order-info Order-info_delivery">
                                                    <div class="Order-infoType">{% translate "Тип доставки" %}:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.get_delivery_label }}
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_pay">
                                                    <div class="Order-infoType">{% translate "Оплата" %}:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.get_payment_label }}
                                                    </div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% translate "Итого" %}:
                                                    </div>
                                                    <div class="Order-infoContent"><span class="Order-price">{{ order.total_price }}$</span>
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">Статус:
                                            </div>
                                            {% if i_order.payment_status == "paid" %}
                                                <div class="Order-infoContent">{{ i_order.get_payment_status_label }}
                                                </div>
                                            {% else %}
                                                <a class="Order-infoContent" href="{% url 'orders:order_payment' pk=order.id %}">{{ order.get_payment_status_label }}
                                                </a>
                                            {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                        No orders yet
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}