{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% translate "Восстановление пароля" %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{% translate "Восстановление пароля" %}</h3>
            <p>
                {% translate "Новый пароль установлен. Вы можете пройти по ссылке" %}
                <a class="registr" href="{% url 'user:login' %}">{% translate "Вход" %}</a>
            </p>
        </div>
    </div>
{% endblock %}