{% extends 'base.html' %}

{% block title %}
	Восстановление пароля (2)
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Восстановление пароля (2/2)</h3>
            <h5>Придумайте новый пароль для учетной записи</h5>
        </div>

        <form method="post">
          {% csrf_token %}
            <div>
                <input type="password" name="new_password1" id="name" placeholder="Пароль" />
                <div class="form-error">
                    <strong>{{ form.new_password2.errors }}</strong>
                </div>
            </div>
            <div>
                <input type="password" name="new_password2" id="name" placeholder="Повторить пароль" />
            </div>
            <div>
                <input type="submit" value="Сохранить пароль" />
            </div>
        </form>
    </div>
    {% if form.non_field_errors %}
        <div class="form-error">Вы ввели неверные данные</div>
    {% endif %}

{% endblock %}