{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% translate "Восстановление пароля" %} (1)
{% endblock %}

    {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{% translate "Восстановление пароля" %} (1/2)</h3>
            <h5>
                {% translate "Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись" %}
            </h5>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                <input class="user-input" type="email" name="email" id="name" placeholder="E-mail" />
            </div>
            <div>
                <input type="submit" value="{% translate 'Получить ссылку для восстановления' %}" />
            </div>
            <a class="registr" href={% url 'user:login' %}>
                {% translate "Вход" %}
            </a>
        </form>
    </div>
{% endblock %}