{% extends 'templates_users/base.html' %}

{% block content %}
    {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Восстановление пароля (2/2)</h3>
            <h5>Придумайте новый пароль для учетной записи</h5>
        </div>

        <form method="post">
          {% csrf_token %}
            <div>
                <input type="password" name="new_password1" id="name" placeholder="Пароль" />
                <div class="form-error">
                    <strong>{{ form.new_password2.errors }}</strong>
                </div>
            </div>
            <div>
                <input type="password" name="new_password2" id="name" placeholder="Повторить пароль" />
            </div>
            <div>
                <input type="submit" value="Сохранить пароль" />
            </div>
        </form>
    </div>
    {% if form.non_field_errors %}
        <p>Вы ввели неверные данные</p>
    {% endif %}

{% endblock %}