{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% translate "Восстановление пароля" %} (2)
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{% translate "Восстановление пароля" %} (2/2)</h3>
            <h5>{% translate "Придумайте новый пароль для учетной записи" %}</h5>
        </div>

        <form method="post">
          {% csrf_token %}
            <div>
                <input type="password" name="new_password1" id="name" placeholder="Пароль" />
                <div class="form-error">
                    <strong>{{ form.new_password2.errors }}</strong>
                </div>
            </div>
            <div>
                <input type="password" name="new_password2" id="name" placeholder="{% translate 'Повторить пароль' %}" />
            </div>
            <div>
                <input type="submit" value="{% translate 'Сохранить пароль' %}"/>
            </div>
        </form>
    </div>
    {% if form.non_field_errors %}
        <div class="form-error">{% translate "Вы ввели неверные данные" %}</div>
    {% endif %}

{% endblock %}