{% extends 'base.html' %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Профиль
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Профиль</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{% url 'user:account' %}">Личный кабинет</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'user:user_profile' %}">Профиль</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'user:viewed_products' %}">История просмотров</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="historyorder.html">История заказов</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        <form class="form Profile-form" action="{% url 'user:user_profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="profile_picture">Фото профиля
                                        </label>
                                        <div class="Profile-avatar">
                                            {% if user.profile_picture %}
                                                <div class="Profile-img"><img src="{{ user.profile_picture.url }}" alt="profile_picture" />
                                                </div>
                                            {% else %}
                                                <label class="Profile-fileLabel" for="profile_picture">Выберите фото профиля
                                                </label>
                                                <input class="Profile-file form-input" id="profile_picture" name="profile_picture" type="file" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if user.profile_picture %}
                                        <div class="form-group">
                                            <label class="form-label" for="profile_picture_change">Сменить фото профиля
                                            </label>
                                            <input class="" id="profile_picture_change" name="profile_picture" type="file" />
                                            <div style="color: red">
                                                {{ form.errors.profile_picture|join:", " }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="form-label" for="first_name">Имя
                                        </label>
                                        <input class="form-input" id="first_name" name="first_name" type="text" value="{{ user.first_name }}" />
                                        <div style="color: red">
                                            {{ form.errors.first_name|join:", " }}
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="last_name">Фамилия
                                        </label>
                                        <input class="form-input" id="last_name" name="last_name" type="text" value="{{ user.last_name }}" />
                                        <div style="color: red">
                                            {{ form.errors.last_name|join:", " }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="phone">Телефон
                                        </label>
                                        {% if user.phone_number %}
                                            {% with phone_prefix="+7" %}
                                                <input class="form-input" id="phone" name="phone_number" type="text" value="{{ phone_prefix }}{{ user.phone_number }}" placeholder="{{ form.phone_number.field.widget.attrs.placeholder }}" />
                                            {% endwith %}
                                        {% else %}
                                            <input class="form-input" id="phone_placeholder" name="phone_number" type="text" value="" placeholder="{{ form.phone_number.field.widget.attrs.placeholder }}" />
                                        {% endif %}
                                        <div style="color: red">
                                            {{ form.errors.phone_number|join:", " }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="mail">E-mail
                                        </label>
                                        <input class="form-input" id="mail" name="email" type="text" value="{{ user.email }}"/>
                                        <div style="color: red">
                                            {{ form.errors.email|join:", " }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Пароль
                                        </label>
                                        <input class="form-input" id="password" name="password" type="password" placeholder="{{ form.password.field.widget.attrs.placeholder }}" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password_reply">Подтверждение пароля
                                        </label>
                                        <input class="form-input" id="password_reply" name="password_reply" type="password" placeholder="{{ form.password_reply.field.widget.attrs.placeholder }}" />
                                        <div style="color: red">
                                            {{ form.errors.password|join:", " }}
                                            {{ form.errors.password_reply|join:", " }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success">Сохранить
                                            </button>
                                        </div>
                                        {% if form_submitted %}
                                            <div class="Profile-success">Профиль успешно сохранен
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}